<section id="two" class="col-md-6">
	<div class="inner">
		<header class="major">
			<h2>About Brown and the Magic Grants</h2>
		</header>
		<p>
		Established in 2012, the <a href="http://www.brown.columbia.edu" target="">David and Helen Gurley Brown Institute</a> is a collaboration between Columbia University and Stanford University, designed to encourage and support new endeavors in media innovation. At Stanford, the primary focus is on media technology, and the Institute is anchored in the School of Engineering. At Columbia, the primary focus is on content, and the Institute is anchored in the Graduate School of Journalism.
		</p>
		<p>
		Once per year, we invite the Columbia and Stanford communities to submit proposals for Magic Grants. We look for ideas that are original and have the potential to bring true innovation in the media world.
		</p>
	</div>
</section>
