<section id="alerts">
  <div class="inner">
    <div class="alert alert-danger" role="alert"><i class="fa fa-info-circle" style="margin-right:5px;"></i> <strong>Information Sessions at Stanford:</strong>
      <ul>
        <li>Tuesday, Oct. 18 @ Noon in Y2E2 161</li>
        <li>Friday, Oct. 21 @ Noon in Gates 217</li>
      </ul>
    </div>
    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" style="margin-right:5px;"></i> <strong>Information Sessions at Columbia:</strong>
      <ul>
        <li>Friday, Oct. 14 @ 4:45pm in Brown Institute (Pulitzer 200)</li>
        <li>Thursday, Oct. 20 @ 8:45am in Brown Institute (Pulitzer 200)</li>
      </ul>
  </div>
</section>
