<style>
  .btn {
    background-color: rgba(255,127,80, .3);
    border-radius: 0;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  .btn:hover {
    background-color: rgba(255,127,80, .4);
    transition: all .2s ease;
  }
  .btn h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  #callout h1 {
    border: 1px solid rgba(255,255,255,.1);
    padding: 1.5em;
    background-color: rgba(255,255,255,.05);
    display: inline-block;
  }
</style>

<section id="callout">
  <a class="btn btn-block" href="https://brown.submittable.com/submit/68428/base-camp-2016">
    <h1>Apply now</i></h1>
  </a>
</section>
