<section id="who-what-when" class="col-md-6">
  <div class="inner">
    <header class="major">
      <h2>The Magic Grants</h2>
    </header>
    <p>
      Ideas coming from Base Camp can be submitted to the Brown Institute Magic Grant program. In March of each year, we invite the Columbia and Stanford communities to submit proposals for Magic Grants. We look for ideas that are original and have the potential to bring true innovation in the media world.
    </p>
    <p>
      Typically, a Magic Grant supports a small team of graduate students or postgraduates who are expected to demonstrate the relevance and viability of their ideas by implementing a prototype or creating an innovative media product. Successful projects might continue as business ventures outside the universities.
    </p>
    <p>
      Take a look at <a href="http://brown.columbia.edu/magic">last year's projects</a> to see the variety of work we fund.
    </p>
  </div>
</section>
