<section id="who-what-when">
  <div class="inner">
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-question"></span>
          <h3>What?</h3>
          <p>Your media innovation can be about civic technology, computer-mediated communication, online collaboration, fighting corruption, virtual or augmented reality, visual search... you name it, we fund it!</p>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-users"></span>
          <h3>Who?</h3>
          <p>All student levels: undergraduate, graduate and postdoctoral</p>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-comments"></span>
          <h3>Why?</h3>
          <p>Shape the future of media and impact society through innovations</p>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-university"></span>
          <h3>Funding</h3>
          <p>Magic Grants provide up to $300,000 for student projects</p>
        </div>
      </section>
    </section>
  </div>
</section>
